{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Lines of code are my symphony, pixels my canvas. As a web developer, I'm not just building websites, I'm crafting digital experiences that spark connection and possibility. Driven by an insatiable curiosity and a relentless urge to create, I thrive on solving problems and translating innovative ideas into tangible realities. Whether it's crafting elegant designs or weaving complex functionalities, I approach each project with an infectious enthusiasm and a dedication to exceeding expectations. Stay tuned as I share my journey, my insights, and the exciting frontiers I explore in the ever-evolving world of web development. Join me on this exploration of code, creativity, and pushing the boundaries of what's possible!</p>
<!--         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p> -->
<!--         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p> -->
<!--         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p> -->
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
